.card-round{
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;

  path{
    transition: fill .2s ease;
  }
  
  &:hover{
    .card-round__img{
      background-color: #fff;
    }

    .card-round__num{
      color: #EF8B54;
      opacity: 1;
    }

    .card-round__title{
      display: none;
    }

    .card-round__show-more{
      display: block;
    }

    path{
      fill: black
    }
    
  }
  &__img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1D1D;
    transition: background-color .2s ease;
    position: relative;
    z-index: 20;
  }

  &__img-wrapper{
    position: relative;
  }

  &__title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 100%;
  }

  &__show-more{
    display: none;
    position: absolute;
    top: 100%;
    &-title{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      text-decoration-line: underline;
      color: #FFFFFF;
    }
  }

  &__num{
    position: absolute;
    color: #FFFFFF;
    opacity: 0.1;
    font-weight: 700;
    font-size: 118px;
    line-height: 144px;
    text-align: center;
    right: -56px;
    top: -70px;
    letter-spacing: 7px;
    transition: all .2s ease;
  }
}